body,
#app {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  user-select: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fs-button {
  background: var(--button-background);
  border-radius: 0.1vw;
  transition: all 0.25s ease-in-out;
}
.fs-button:hover {
  background: var(--button-background-hover);
}
.fs-button:active {
  background: var(--button-background-active);
}
.fs-slider {
  -webkit-appearance: none;
  appearance: none;
  background: var(--button-background);
  height: 0.4vw;
  border-radius: 9999px;
  outline: none;
  position: relative;
  width: 5vw;
}
.fs-slider::-webkit-slider-runnable-track {
  height: 0.4vw;
  /* background: linear-gradient(to right, #FC2B2B 0%, #FC2B2B 50%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0.1) 100%); */
  border-radius: 9999px;
}
.fs-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.8vw;
  height: 0.8vw;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -0.2vw;
  box-shadow: 0 0 0.2vw rgba(0, 0, 0, 0.2);
}